<div class="container">

   <div class="row">   

      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card">
                <div class="card-header">
                Consultas
                </div>
                <div class="card-body">
                <h5 class="card-title">Contém consultas em tela realizadas diariamente pelo setor Financeiro.</h5>
                <a href="/financeiro-home/consultas" class="btn btn-light">Acessar</a>
                </div>
            </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header">
                Relátorios
                </div>
                <div class="card-body">
                <h5 class="card-title">Contém relátorios gerados em PDF, Excel ou Word.</h5>
                <a href="/financeiro-home" class="btn btn-light">Acessar</a>
                </div>
            </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header">
                Dashboard
                </div>
                <div class="card-body">
                <h5 class="card-title">Contém gráficos gerenciais Financeiros.</h5>
                <a href="/financeiro-home" class="btn btn-light">Acessar</a>
                </div>
            </div>
      </div>
   </div>   
</div>