.navbar-menu-filtro {
    position: fixed;
    top: 2;
    bottom: 10;
    right: 100;
    width: 210px;
    margin: 0;
    padding: 0 10px;
    z-index: 9998;
  
    background-color:white;
  
    list-style: none;
  }
  .navbar-toggle {
    padding: 0;
    color:black;
  }