<div class="container">
    <div class="row">   

        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="card">
                  <div class="card-header">
                  Visão geral de Titulos
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Contém status dos titulos.</h5>
                    <a href="/financeiro-home/consultas" class="btn btn-light">Acessar</a>
                    <p>id: C01</p>
                  </div>
              </div>
         </div>
     </div>
</div>